body
{
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    background-color: #e9e9e9;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
}

#wrapper
{
    width: 1600px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0px;
    border: 5px solid #dedede;
}

.login_box
{
    width:50%; 
    margin:10px auto 10px auto;
    border: solid 1px #333333;
    padding: 10px;
}

#banner
{
    
    border: 5px solid #dedede;    
    height: 200px;
	background-image: url(../images/Banner.jpg);
	background-repeat: none;
	background-size: cover;
}

.villa_banner
{
    border: 5px solid #dedede;    
    height: 600px;
	background-repeat: none;
	background-size: cover;
    width:100%;
}

#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

#content_area
{
	background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#sidebar
{
    float: right;
    width: 250px;
    height: 400px;
    margin: 15px 10px;
    padding: 8px;
    border: 2px solid #E3E3E3;
}

footer
{
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    
}

#navigation
{
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em #333;
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav
{
    list-style: none;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav ul
{
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li
{
    font-size: 24px;
    float: left;
    position: relative;
    width: 180px;
    height: 50px;
}

#nav a:link, nav a:active, nav a:visited
{
    display: block;
    color: #fff;
    text-decoration: none;
	    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover
{
    color: lightblue;
	 background-color: #111;
}

.imgLeft
{
    float: left;
    width: 240px;
    height: 150px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight
{
    float: right;
    width: 200px;
    height: 250px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}

